// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/mixins";
@import "../theme/responsive.scss";
@import "../theme/menu.scss";
@import "../theme/footer.scss";

.alert {
  background-color: transparent;
  color: color($colors, primary);

  .btn-cancel {
    color: #f8071d;
  }

  .btn-ok {
    color: #0080fa;
  }
}

.back-button {
  color: #fff !important;
}

.title-ios {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.modal-alert {
  .modal-wrapper {
    position: absolute;
    top: 20%;
    left: 10%;
    display: block;
    width: 80%;
    height: 50%;
  }
}

ion-app.platform-ios ion-content {
  pointer-events: auto; /*fix scroll lock on ios12.2*/
}
